@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@font-face {
  font-family: 'Lumberjack';
  src: url("../fonts/Lumberjack.woff2"), url("../fonts/Lumberjack.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Lumberjack', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #020F1C;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1310px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: content-box;
}

.main {
  flex: 1 1 auto;
}

.header {
  background-color: #09090A;
}
.header__top {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-logo {
  margin: 0px 60px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:last-child {
  margin-left: 30px;
}
.menu__link {
  color: #fff;
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 20px;
  line-height: 120%;
  transition: border-bottom .3s;
}
.menu__link:hover {
  border-bottom: 1px solid #D6258F;
  color: #D3BDCA;
}

@media (max-width: 758px) {
  .header__top-logo {
    margin: 0px 40px;
  }

  .menu {
    text-align: center;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 10px;
  }
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 424px) {
  .header__top-logo {
    margin: 0px 23px;
  }

  .menu__link {
    font-size: 14px;
  }
}
