// Импорт других файлов стилей
@font-face{
    font-family: 'Lumberjack';
    src: url('../fonts/Lumberjack.woff2'),
    url('../fonts/Lumberjack.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import 'nullstyle';

html,
body{
    height: 100%;
    font-family: 'Lumberjack', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #020F1C;
    color: #fff;
    
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: content-box;
}

.main{
    flex: 1 1 auto;
}

// header - nav
.header{
    background-color: #09090A;
    &__top{
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__top-logo{
        margin: 0px 60px;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__item + .menu__item{
        margin-left: 30px;
    }
    &__link{
        color: #fff;
        font-weight: 400;
        padding-bottom: 6px;
        transition: border-bottom .3s;
        &:hover{
            border-bottom: 1px solid #D6258F;
            color: #D3BDCA;
        }
    }
}

@import 'media';