// Импорт других файлов стилей
@font-face{
    font-family: 'Lumberjack';
    src: url('../fonts/Lumberjack.woff2'),
    url('../fonts/Lumberjack.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import 'nullstyle';

html,
body{
    height: 100%;
    font-family: 'Lumberjack', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #020F1C;
    color: #fff;
    
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 64px;
    line-height: 76px;
    color: #CA046A;
    -webkit-text-stroke: 2.7px #fff;
    text-shadow: 0px -3px 33px #CA046A;
    mix-blend-mode: hard-light; 
    text-transform: uppercase;
    text-align: center;
}

.container{
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: content-box;
}

// header - nav
.header{
    background-color: #09090A;
    &__top{
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__top-logo{
        margin: 0px 60px;
    }
}

.menu{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item:last-child{
        margin-left: 30px;
    }
    &__link{
        color: #fff;
        font-weight: 400;
        padding-bottom: 6px;
        font-size: 20px;
        line-height: 120%;
        transition: border-bottom .3s;
        &:hover{
            border-bottom: 1px solid #D6258F;
            color: #D3BDCA;
        }
    }
}

.main{
    flex: 1 1 auto;
}

.main-block{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__content{
        max-width: 520px;
        padding: 24% 0px;
    }
    &__content-title{
        font-size: 96px;
        text-transform: uppercase;
        line-height: 108%;
        color: #CA046A;
        -webkit-text-stroke: 2.7px #fff;
        text-shadow: 0px -3px 33px #CA046A;
        mix-blend-mode: hard-light; 
        margin-bottom: 20px
    }
    &__content-text{
        font-size: 48px;
        line-height: 106%;
    }
    &__content-text span{
        color: #D6258F;
    }
}

.event{
    padding: 139px 0;
    background-color: #09090A;
    &__title{
        margin-bottom: 50px;
    }
    &__body{
        display: flex;
        margin: 0px -15px;
    }
    &__column{
        padding: 0px 15px;
        flex: 0 1 33.333%;
    }
    &__item{
        display: inline-block;
        border-radius: 20px;
    }
    &__item-content{
        background-color: #0F1F2F;
        border-radius: 0px 0px 20px 20px;
    }
    &__item-content > *:not(:last-child){
        margin: 0px 0px 20px 0px;
    }
    &__item-title{
        color: #D6258F;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-top: 20px;
    }
    &__item-date{
        font-family: 'Roboto Condensed', sans-serif;
        color: #243D55;
        text-align: end;
        padding-right: 20px;
    }
    &__item-text{
        font-size: 20px;
        line-height: 23px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        padding: 0px 5px 27px 15px; 
    }
}

@import 'media';